@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --dark-bg-color: #1F2937;
    --highlight-color: #3c506d;
    --highlight-color-light: #57657a
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

body>div {
    padding: 16px;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 36px;
    color: var(--highlight-color);
}

h2 {
    font-size: 48px;
    color: var(--highlight-color);
}

h4 {
    font-size: 24px;
}

body>div {
    padding: 0px 16%;
}

ul {
    list-style: inside;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--highlight-color-light);
}

.light {
    color: white;
}

button {
    background-color: var(--highlight-color);
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: var(--highlight-color-light);
}

.darker-section {
    padding: 80px 16%;
    background-color: rgb(220, 227, 230);
}

#header {
    display: flex;
    background-color: var(--dark-bg-color);
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: white;
}

#header>p {
    font-size: x-large;
    padding: 32px 0px;
    font-weight: bold;
    cursor: pointer;
}

#header>div {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

#header>div>p {
    font-size: larger;
    padding: 8px;
    cursor: pointer;
}

#header>div>p:hover {
    color: var(--highlight-color-light);
    transition: color 0.3s ease-in-out;
}

#welcome {
    display: grid;
    grid-template-columns: 16% 1fr 1fr 16%;
    padding: 0px;
}

#welcome::before {
    content: "";
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: var(--dark-bg-color);
}

.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 16px 0px;
}

#welcome>img {
    background: var(--dark-bg-color);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: 16px 0px 24px 0px;
    justify-self: end;
    width: 90%;
    min-width: 150px;
    height: auto;
    object-fit: contain;
}

.welcome-project-stats {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.welcome-project-stats>p {
    padding: 24px;
    font-size: 1rem;
    justify-self: center;
    align-self: center;
}

.welcome-project-stats>p>span {
    color: var(--highlight-color);
    font-size: 3rem;
}

.grid-section-with-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content 1fr min-content 1fr;
    justify-content: center;
    align-content: center;
}

.grid-section-with-header>h2 {
    grid-row: 1 / 1;
    grid-column: 1 / 5;
    justify-self: center;
    align-self: center;
    padding-top: 12px;
    padding-bottom: 48px;
}

.project-spacer {
    grid-column: span 4;
    height: 24px;
    background: transparent;
}

#projects {
    padding-top: 80px;
    padding-bottom: 80px;
}

.project {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.project-headline {
    padding: 8px;
}

.project-image {
    width: 160px;
    border-radius: 12px;
    border: solid;
}

.project-subline {
    padding: 8px;
}

.project-techstack {
    padding: 8px;
}

.skill-container {
    padding: 16px;
}

.skill-container>h4 {
    padding-bottom: 4px;
}

.progress-bar {
    background-color: white;
    border-radius: 25px;
    padding: 4px;
    width: 100%;
    height: 12px;
}

.progress {
    background-color: var(--highlight-color);
    height: 100%;
    border-radius: 25px;
    transition: width 0.4s ease;
}

#resume {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-auto-rows: 1fr;
    padding: 100px;
    justify-items: center;
}

#resume-timeline {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

.event {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    height: min-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event:nth-child(2n) {
    grid-column: 3 / 4;
    justify-self: start;
    align-self: center;
    grid-row: auto;
}

.event:nth-child(2n-1) {
    grid-column: 1 / 2;
    justify-self: end;
    grid-row: auto;
    align-self: center;
    text-align: end;
}

.line {
    margin: 0px 24px;
    grid-row: auto;
    grid-column: 2 / 3;
    justify-self: center;
    top: 0px;
    right: -1px;
    /* Vertikaler Breite der Seite */
    border-left: 2px solid var(--dark-bg-color);
}

.resume-yearspan {
    color: var(--highlight-color);
    font-size: 16px;

}

#contact>p:first-of-type {
    grid-row: 2 / 2;
    grid-column: 1 / 5;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#contact>p:nth-of-type(2) {
    grid-row: 3 / 3;
    margin-top: 12px;
    grid-column: 1 / 5;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-weight: bold;
}

#contact button {
    min-width: 150px;
    margin-top: 36px;
}

#email-btn {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    justify-self: center;
    align-self: center;
}

#linkedin-btn {
    grid-row: 4 / 5;
    grid-column: 3 / 5;
    justify-self: center;
    align-self: center;
}

#footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--dark-bg-color);
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
}

#footer-links {
    margin-left: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.line-vertical {
    width: 1px;
    align-self: center;
    height: 20px;
    margin: 0px 12px;
    background-color: white;
}