@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

:root {
    --dark-bg-color: #1F2937;
    --highlight-color: #3c506d;
    --highlight-color-light: #57657a;

    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xlarge: 32px;
    --spacing-xxlarge: 48px;
    --spacing-mega: 80px;
    --spacing-xmega: 100px;

    --spacing-sides: 16%;

    --font-small: 14px;
    --font-medium: 18px;
    --font-large: 24px;
    --font-xlarge: 36px;
    --font-xxlarge: 48px;

    --progress-bar-min-width: 170px
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-size: var(--font-medium);
}

body>div {
    padding: 0px 16%;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: var(--font-xxlarge);
    color: var(--highlight-color);
}

h2 {
    font-size: var(--font-xlarge);
    color: var(--highlight-color);
}

h4 {
    font-size: var(--font-large);
}

ul {
    list-style: inside;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--highlight-color-light);
}

.light {
    color: white;
}

button {
    background-color: var(--highlight-color);
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: var(--font-small);
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: var(--highlight-color-light);
}

.darker-section {
    padding: var(--spacing-xxlarge) var(--spacing-sides);
    background-color: rgb(220, 227, 230);
}

#header {
    display: flex;
    background-color: var(--dark-bg-color);
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-small);
    color: white;
}

#header>p {
    font-size: x-large;
    padding: var(--spacing-xlarge) 0px;
    font-weight: bold;
    cursor: pointer;
}

#header>div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-large);
}

#header>div>p {
    font-size: larger;
    padding: var(--spacing-small);
    cursor: pointer;
}

#header>div>p:hover {
    color: var(--highlight-color-light);
    transition: color 0.3s ease-in-out;
}

#welcome {
    display: grid;
    grid-template-columns: var(--spacing-sides) 1fr 1fr var(--spacing-sides);
    padding: 0px;
}

#welcome::before {
    content: "";
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: var(--dark-bg-color);
}

.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: var(--spacing-medium) 0px;
}

#welcome>img {
    background: var(--dark-bg-color);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: var(--spacing-medium) 0px var(--spacing-large) 8px;
    justify-self: end;
    max-width: 90%;
    min-width: 150px;
    height: auto;
    object-fit: contain;
}

.welcome-project-stats {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.welcome-project-stats>p {
    padding: var(--spacing-large);
    font-size: 1rem;
    justify-self: center;
    align-self: center;
}

.welcome-project-stats>p>span {
    color: var(--highlight-color);
    font-size: 3rem;
}

.grid-section-with-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content 1fr min-content 1fr;
    justify-content: center;
    align-content: center;
}

.grid-section-with-header>h2 {
    grid-row: 1 / 1;
    grid-column: 1 / 5;
    justify-self: center;
    align-self: center;
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-xxlarge);
}

.project-spacer {
    grid-column: span 4;
    height: var(--spacing-large);
    background: transparent;
}

#projects {
    margin-top: var(--spacing-xxlarge);
    margin-bottom: var(--spacing-xxlarge);
}

#projects-content {
    grid-row: 2 / -1;
    grid-column: 1 / 5;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.project {
    padding: var(--spacing-medium);
    display: flex;
    width: 230px;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.project-headline {
    padding: 8px;
}

.project-image {
    width: 160px;
    border-radius: 12px;
    border: solid;
}

.project-subline {
    padding: var(--spacing-small);
}

.project-techstack {
    padding: var(--spacing-small);
}

.skill-container {
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.skill-container>h4 {
    padding-bottom: 4px;
    font-size: var(--font-medium);
    text-wrap: balance;
}

.progress-bar {
    background-color: white;
    border-radius: 25px;
    padding: 4px;
    min-width: var(--progress-bar-min-width);
    height: 12px;
}

.progress {
    background-color: var(--highlight-color);
    height: 100%;
    border-radius: 25px;
    transition: width 0.4s ease;
}

#resume {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-auto-rows: 1fr;
    padding: var(--spacing-xxlarge);
    justify-items: center;
}

#resume-timeline {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-auto-rows: min-content;
}

.event {
    padding: var(--spacing-medium);
    background-color: #f9f9f9;
    border-radius: 8px;
    height: min-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event:nth-child(2n) {
    grid-column: 3 / 4;
    justify-self: start;
    align-self: center;
    grid-row: auto;
}

.event:nth-child(2n-1) {
    grid-column: 1 / 2;
    justify-self: end;
    grid-row: auto;
    align-self: center;
    text-align: end;
}

.line {
    margin: 0px var(--spacing-large);
    grid-row: auto;
    grid-column: 2 / 3;
    justify-self: center;
    top: 0px;
    right: -1px;
    border-left: 2px solid var(--dark-bg-color);
}

.resume-yearspan {
    color: var(--highlight-color);
    font-size: var(--font-medium);
}

#contact {
    column-gap: var(--spacing-small);
}

#contact>p:first-of-type {
    grid-row: 2 / 2;
    grid-column: 1 / 5;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#contact>p:nth-of-type(2) {
    grid-row: 3 / 3;
    margin-top: var(--spacing-small);
    grid-column: 1 / 5;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-weight: bold;
}

#contact button {
    min-width: 150px;
    margin-top: var(--spacing-xlarge);
}

#email-btn {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    justify-self: center;
    align-self: center;
}

#linkedin-btn {
    grid-row: 4 / 5;
    grid-column: 3 / 5;
    justify-self: center;
    align-self: center;
}

#footer {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
    background-color: var(--dark-bg-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
}

#footer-links {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.line-vertical {
    width: 1px;
    align-self: center;
    height: 20px;
    margin: 0px 12px;
    background-color: white;
}

@media (max-width: 600px) {
    :root {
        --spacing-small: 8px;
        --spacing-medium: 12px;
        --spacing-large: 16px;
        --spacing-xlarge: 24px;
        --spacing-xxlarge: 32px;
        --spacing-mega: 40px;
        --spacing-xmega: 60px;

        --spacing-sides: 2%;

        --font-small: 12px;
        --font-medium: 14px;
        --font-large: 20px;
        --font-xlarge: 32px;
        --font-xxlarge: 42px;
    }

    body {
        font-family: 'Roboto', sans-serif;
        line-height: 1.6;
        padding: 0;
        margin: 0;
    }

    #welcome {
        display: block;
        background: var(--dark-bg-color);
        padding: 16px;
    }

    #welcome>img {
        margin: 16px 0px 16px 0px;
        max-width: 100%;
    }

    .grid-section-with-header {
        display: block;
    }

    #contact {
        display: grid;
    }

    .grid-section-with-header>h2 {
        padding-top: 12px;
        padding-bottom: 24px;
    }

    #resume {
        padding: 24px;
        text-align: center;
    }
}

@media (max-width: 850px) {
    :root {
        --progress-bar-min-width: 30%
    }
}